openapi: 3.0.0
info:
  title: 大賀輸送新システム API
  description: |
    大賀輸送新システムのWebアプリケーションAPI定義書
    
    ## 認証
    すべてのAPIはBearer Token認証が必要です。
    AuthorizationヘッダーにJWTトークンを設定してください。
    
    ## レスポンス形式
    すべてのAPIは統一されたレスポンス形式を使用します。
    
    ## エラーハンドリング
    エラー時はsuccess: falseとなり、codeとmessageに詳細が含まれます。
  version: 1.0.0
  contact:
    name: 大賀輸送 IT推進部
    email: it-support@ohga.co.jp

servers:
  - url: https://api.yamato-transport.co.jp/api/v1
    description: 本番環境
  - url: https://api-test.yamato-transport.co.jp/api/v1
    description: テスト環境
  - url: http://localhost:8080/api/v1
    description: 開発環境

tags:
  - name: Authentication
    description: 認証関連API
  - name: Partners
    description: パートナー管理API
  - name: Orders
    description: 発注管理API
  - name: Completed Orders
    description: 実績管理API
  - name: Billings
    description: 請求管理API
  - name: Uploads
    description: ファイルアップロードAPI
  - name: Action History
    description: アクション履歴API
  - name: Base Accounts
    description: ベースアカウントAPI
  - name: Master Data
    description: マスタデータAPI
  - name: External
    description: 外部システム連携API

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: ログイン
      description: メールアドレスとパスワードでログインし、JWTトークンを取得します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: メールアドレス
                  example: "tanaka@company.co.jp"
                password:
                  type: string
                  format: password
                  description: パスワード
                  example: "password123"
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: ログアウト
      description: 現在のセッションを終了し、トークンを無効化します
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "ログアウト成功"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: トークン更新
      description: リフレッシュトークンを使用して新しいアクセストークンを取得します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  description: リフレッシュトークン
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: トークン更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "トークン更新成功"
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 新しいJWTアクセストークン
                      refreshToken:
                        type: string
                        description: 新しいリフレッシュトークン
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '401':
          description: リフレッシュトークン無効
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/search:
    get:
      tags:
        - Partners
      summary: パートナー検索
      description: パートナー会社の一覧を検索条件で取得します
      parameters:
        - name: companyCode
          in: query
          schema:
            type: string
          description: 会社コード（部分一致）
        - name: companyName
          in: query
          schema:
            type: string
          description: 会社名（部分一致）
        - name: systemUse
          in: query
          schema:
            type: boolean
          description: システム利用フラグ
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerSearchResponse'
        '400':
          description: リクエストパラメータエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/{companyId}:
    get:
      tags:
        - Partners
      summary: パートナー詳細取得
      description: 指定した会社IDのパートナー詳細情報を取得します
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    $ref: '#/components/schemas/PartnerDetail'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '404':
          description: パートナーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Partners
      summary: パートナー更新
      description: 指定した会社IDのパートナー情報を更新します
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                  description: 会社名
                companyPhone:
                  type: string
                  description: 電話番号
                systemUse:
                  type: boolean
                  description: システム利用フラグ
                instructionText:
                  type: string
                  description: 指示書表示文言
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "更新成功"
                  data:
                    $ref: '#/components/schemas/PartnerDetail'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '404':
          description: パートナーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/{companyId}/users:
    get:
      tags:
        - Partners
      summary: パートナーユーザー一覧取得
      description: 指定した会社IDのパートナーユーザー一覧を取得します
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          $ref: '#/components/schemas/PartnerUser'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /orders/search:
    get:
      tags:
        - Orders
      summary: 発注検索
      description: 発注情報の一覧を検索条件で取得します
      parameters:
        - name: companyId
          in: query
          schema:
            type: string
          description: 会社ID
        - name: orderYearMonth
          in: query
          schema:
            type: string
          description: 発注年月（YYYY-MM形式）
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, accepted, rejected, expired, cancelled]
          description: 発注ステータス
        - name: requestDateFrom
          in: query
          schema:
            type: string
            format: date
          description: 依頼日（開始）
        - name: requestDateTo
          in: query
          schema:
            type: string
            format: date
          description: 依頼日（終了）
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSearchResponse'
        '400':
          description: リクエストパラメータエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: 発注詳細取得
      description: 指定した発注IDの発注詳細情報を取得します
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    $ref: '#/components/schemas/OrderDetail'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '404':
          description: 発注が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Orders
      summary: 発注更新
      description: 指定した発注IDの発注情報を更新します
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [pending, accepted, rejected, expired, cancelled]
                  description: 発注ステータス
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      productCode:
                        type: string
                      productName:
                        type: string
                      quantity:
                        type: integer
                      unitPrice:
                        type: number
                        format: decimal
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "更新成功"
                  data:
                    $ref: '#/components/schemas/OrderDetail'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '404':
          description: 発注が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /completed-orders/search:
    get:
      tags:
        - Completed Orders
      summary: 実績検索
      description: 実績情報の一覧を検索条件で取得します
      parameters:
        - name: companyId
          in: query
          schema:
            type: string
          description: 会社ID
        - name: orderId
          in: query
          schema:
            type: string
          description: 発注ID
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, rejected]
          description: 実績ステータス
        - name: completedDateFrom
          in: query
          schema:
            type: string
            format: date
          description: 実績日（開始）
        - name: completedDateTo
          in: query
          schema:
            type: string
            format: date
          description: 実績日（終了）
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletedOrderSearchResponse'
        '400':
          description: リクエストパラメータエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /completed-orders/{completedOrderId}:
    get:
      tags:
        - Completed Orders
      summary: 実績詳細取得
      description: 指定した実績IDの実績詳細情報を取得します
      parameters:
        - name: completedOrderId
          in: path
          required: true
          schema:
            type: string
          description: 実績ID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    type: object
                    properties:
                      completedOrderId:
                        type: string
                        example: "PERF-2026-001"
                      orderId:
                        type: string
                        example: "ORD-2026-001"
                      totalAmount:
                        type: number
                        format: decimal
                        example: 1500000
                      status:
                        type: string
                        example: "confirmed"
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            productCode:
                              type: string
                            productName:
                              type: string
                            quantity:
                              type: integer
                            unitPrice:
                              type: number
                              format: decimal
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /billings/search:
    get:
      tags:
        - Billings
      summary: 請求検索
      description: 請求情報の一覧を検索条件で取得します
      parameters:
        - name: companyId
          in: query
          schema:
            type: string
          description: 会社ID
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, issued, paid, cancelled]
          description: 請求ステータス
        - name: issueDateFrom
          in: query
          schema:
            type: string
            format: date
          description: 発行日（開始）
        - name: issueDateTo
          in: query
          schema:
            type: string
            format: date
          description: 発行日（終了）
        - name: dueDateFrom
          in: query
          schema:
            type: string
            format: date
          description: 支払期限（開始）
        - name: dueDateTo
          in: query
          schema:
            type: string
            format: date
          description: 支払期限（終了）
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSearchResponse'
        '400':
          description: リクエストパラメータエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /billings/{billingId}:
    get:
      tags:
        - Billings
      summary: 請求詳細取得
      description: 指定した請求IDの請求詳細情報を取得します
      parameters:
        - name: billingId
          in: path
          required: true
          schema:
            type: string
          description: 請求ID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    type: object
                    properties:
                      billingId:
                        type: string
                        example: "BILL-2026-001"
                      companyId:
                        type: string
                        example: "C001"
                      amount:
                        type: number
                        format: decimal
                        example: 1500000
                      status:
                        type: string
                        example: "issued"
                      issueDate:
                        type: string
                        format: date
                        example: "2026-02-05"
                      dueDate:
                        type: string
                        format: date
                        example: "2026-02-28"
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            description:
                              type: string
                            quantity:
                              type: integer
                            unitPrice:
                              type: number
                              format: decimal
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /base-accounts/search:
    get:
      tags:
        - Base Accounts
      summary: ベースアカウント検索
      description: ベースアカウントの一覧を検索条件で取得します
      parameters:
        - name: userId
          in: query
          schema:
            type: string
          description: ユーザーID（部分一致）
        - name: userName
          in: query
          schema:
            type: string
          description: ユーザー名（部分一致）
        - name: email
          in: query
          schema:
            type: string
          description: メールアドレス（部分一致）
        - name: roleId
          in: query
          schema:
            type: string
          description: ロールID
        - name: isActive
          in: query
          schema:
            type: boolean
          description: 有効フラグ
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "検索成功"
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
                      pagination:
                        $ref: '#/components/schemas/PaginationResponse'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"
        '400':
          description: リクエストパラメータエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /base-accounts/{userId}:
    get:
      tags:
        - Base Accounts
      summary: ベースアカウント詳細取得
      description: 指定したユーザーIDのベースアカウント詳細情報を取得します
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: ユーザーID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "取得成功"
                  data:
                    $ref: '#/components/schemas/User'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /action-history/search:
    get:
      tags:
        - Action History
      summary: アクション履歴検索
      description: システム操作履歴を検索条件で取得します
      parameters:
        - name: userId
          in: query
          schema:
            type: string
          description: ユーザーID
        - name: actionType
          in: query
          schema:
            type: string
          description: アクションタイプ
        - name: targetId
          in: query
          schema:
            type: string
          description: 対象ID
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          description: 実行日時（開始）
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
          description: 実行日時（終了）
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "検索成功"
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            actionId:
                              type: string
                            userId:
                              type: string
                            actionType:
                              type: string
                            targetId:
                              type: string
                            description:
                              type: string
                            executedAt:
                              type: string
                              format: date-time
                      pagination:
                        $ref: '#/components/schemas/PaginationResponse'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /uploads:
    post:
      tags:
        - Uploads
      summary: ファイルアップロード
      description: CSVファイルをアップロードします
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: アップロードするCSVファイル
                type:
                  type: string
                  enum: [orders, partners, billings]
                  description: ファイルタイプ
      responses:
        '200':
          description: アップロード成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "アップロード成功"
                  data:
                    type: object
                    properties:
                      uploadId:
                        type: string
                      fileName:
                        type: string
                      recordCount:
                        type: integer
                      processedCount:
                        type: integer
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

  /uploads/history:
    get:
      tags:
        - Uploads
      summary: アップロード履歴検索
      description: ファイルアップロード履歴を検索します
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [orders, partners, billings]
          description: ファイルタイプ
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
          description: アップロード日（開始）
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
          description: アップロード日（終了）
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 検索成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: "検索成功"
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            uploadId:
                              type: string
                            fileName:
                              type: string
                            type:
                              type: string
                            recordCount:
                              type: integer
                            uploadedAt:
                              type: string
                              format: date-time
                      pagination:
                        $ref: '#/components/schemas/PaginationResponse'
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-02-xxT10:30:00Z"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer Token認証

  parameters:
    PageParam:
      name: page
      in: query
      description: ページ番号（1から開始）
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    
    PageSizeParam:
      name: pageSize
      in: query
      description: 1ページあたりの件数
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    
    CompanyIdParam:
      name: companyId
      in: path
      description: 会社ID
      required: true
      schema:
        type: string
        example: "C001"
    
    OrderIdParam:
      name: orderId
      in: path
      description: 発注ID
      required: true
      schema:
        type: string
        example: "ORD-2026-001"

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "処理が成功しました"
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: "バリデーションエラーが発生しました"
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    PaginationRequest:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        sort:
          type: string
        sortOrder:
          type: string
          enum: [asc, desc]
    
    PaginationResponse:
      type: object
      properties:
        currentPage:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 5
        hasNext:
          type: boolean
          example: true
        hasPrevious:
          type: boolean
          example: false
    
    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "ログイン成功"
        data:
          type: object
          properties:
            token:
              type: string
              description: JWTアクセストークン
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            refreshToken:
              type: string
              description: リフレッシュトークン
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            user:
              $ref: '#/components/schemas/User'
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    User:
      type: object
      properties:
        userId:
          type: string
          description: ユーザーID
          example: "BA001"
        userName:
          type: string
          description: ユーザー名
          example: "田中 太郎"
        email:
          type: string
          format: email
          description: メールアドレス
          example: "tanaka@company.co.jp"
        roleId:
          type: string
          description: ロールID
          example: "ADMIN"
        roleName:
          type: string
          description: ロール名
          example: "管理者"
        companyId:
          type: string
          description: 会社ID
          example: "C001"
        baseId:
          type: string
          description: ベースID
          example: "BASE001"
        isActive:
          type: boolean
          description: 有効フラグ
          example: true
        lastLoginAt:
          type: string
          format: date-time
          description: 最終ログイン日時
          example: "2026-02-xxT10:30:00Z"
    
    Partner:
      type: object
      properties:
        companyId:
          type: string
          description: 会社ID
          example: "C001"
        companyName:
          type: string
          description: 会社名
          example: "大賀輸送株式会社"
        companyPhone:
          type: string
          description: 電話番号
          example: "03-1234-5678"
        systemUse:
          type: boolean
          description: システム利用フラグ
          example: true
        instructionText:
          type: string
          description: 指示書表示文言
          example: "文言1"
        userCount:
          type: integer
          description: ユーザー数
          example: 5
        lastLoginAt:
          type: string
          format: date-time
          description: 最終ログイン日時
          example: "2026-02-xxT10:30:00Z"
    
    PartnerDetail:
      type: object
      allOf:
        - $ref: '#/components/schemas/Partner'
        - type: object
          properties:
            companyCodes:
              type: array
              items:
                type: string
              description: 会社コードリスト
              example: ["ABC001", "ABC002"]
            users:
              type: array
              items:
                $ref: '#/components/schemas/PartnerUser'
              description: ユーザーリスト
    
    PartnerUser:
      type: object
      properties:
        userId:
          type: string
          description: ユーザーID
          example: "PU001"
        userName:
          type: string
          description: ユーザー名
          example: "山田 花子"
        email:
          type: string
          format: email
          description: メールアドレス
          example: "yamada@company.co.jp"
        roleId:
          type: string
          description: ロールID
          example: "PARTNER_USER"
        isActive:
          type: boolean
          description: 有効フラグ
          example: true
        lastLoginAt:
          type: string
          format: date-time
          description: 最終ログイン日時
          example: "2026-02-xxT10:30:00Z"
    
    PartnerSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "検索成功"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Partner'
            pagination:
              $ref: '#/components/schemas/PaginationResponse'
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: 発注ID
          example: "ORD-2026-001"
        companyId:
          type: string
          description: 会社ID
          example: "C001"
        companyName:
          type: string
          description: 会社名
          example: "大賀輸送株式会社"
        orderYearMonth:
          type: string
          description: 発注年月
          example: "2026-02"
        status:
          type: string
          enum: [pending, accepted, rejected, expired, cancelled]
          description: 発注ステータス
          example: "pending"
        requestDate:
          type: string
          format: date
          description: 依頼日
          example: "2026-02-01"
        version:
          type: integer
          description: バージョン
          example: 1
        createdAt:
          type: string
          format: date-time
          description: 作成日時
          example: "2026-02-xxT10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: 更新日時
          example: "2026-02-xxT11:30:00Z"
    
    OrderDetail:
      type: object
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/OrderItem'
              description: 発注明細リスト
    
    OrderItem:
      type: object
      properties:
        itemId:
          type: string
          description: 明細ID
          example: "ITEM-001"
        productCode:
          type: string
          description: 商品コード
          example: "PROD001"
        productName:
          type: string
          description: 商品名
          example: "輸送サービス"
        quantity:
          type: integer
          description: 数量
          example: 10
        unitPrice:
          type: number
          format: decimal
          description: 単価
          example: 15000
        totalPrice:
          type: number
          format: decimal
          description: 合計金額
          example: 150000
    
    OrderSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "検索成功"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Order'
            pagination:
              $ref: '#/components/schemas/PaginationResponse'
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    CompletedOrder:
      type: object
      properties:
        completedOrderId:
          type: string
          description: 実績ID
          example: "PERF-2026-001"
        orderId:
          type: string
          description: 関連発注ID
          example: "ORD-2026-001"
        companyId:
          type: string
          description: 会社ID
          example: "C001"
        totalAmount:
          type: number
          format: decimal
          description: 合計金額
          example: 1500000
        status:
          type: string
          enum: [pending, confirmed, rejected]
          description: ステータス
          example: "confirmed"
        completedDate:
          type: string
          format: date
          description: 実績日
          example: "2026-02-05"
        confirmedAt:
          type: string
          format: date-time
          description: 確定日時
          example: "2026-02-xxT10:30:00Z"
        confirmedBy:
          type: string
          description: 確定者
          example: "BA001"
    
    CompletedOrderSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "検索成功"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/CompletedOrder'
            pagination:
              $ref: '#/components/schemas/PaginationResponse'
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"
    
    Billing:
      type: object
      properties:
        billingId:
          type: string
          description: 請求ID
          example: "BILL-2026-001"
        companyId:
          type: string
          description: 会社ID
          example: "C001"
        amount:
          type: number
          format: decimal
          description: 請求金額
          example: 1500000
        status:
          type: string
          enum: [pending, issued, paid, cancelled]
          description: 請求ステータス
          example: "issued"
        issueDate:
          type: string
          format: date
          description: 発行日
          example: "2026-02-05"
        dueDate:
          type: string
          format: date
          description: 支払期限
          example: "2026-02-28"
        paidAt:
          type: string
          format: date-time
          description: 支払日時
          example: "2026-02-xxT10:30:00Z"
        createdAt:
          type: string
          format: date-time
          description: 作成日時
          example: "2026-02-xxT10:30:00Z"
    
    BillingSearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: "検索成功"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Billing'
            pagination:
              $ref: '#/components/schemas/PaginationResponse'
        timestamp:
          type: string
          format: date-time
          example: "2026-02-xxT10:30:00Z"

security:
  - bearerAuth: []